/* =================================================================
Start login
================================================================= */
.login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__content{
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login__logo{
    text-align: center;
    margin-bottom: 30px;
}

.login__logo img{
    object-fit: contain;
}

.login .bg{
    width: 100%;
}



/* =================================================================
End login
================================================================= */




/* =================================================================
Start sidebar
================================================================= */

.sidebar{
    width: 210px;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px 0;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    left: 0;
    background: var(--white-color);
}

.Sidebar__menu a{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px;
    margin-bottom: 5px;
}

.Sidebar__menu a i{
    margin-right: 10px;
    font-size: 22px;
    line-height: 0;
    margin-top: -2px;
}

.Sidebar__menu a.active{
    background: var(--main-color);
    color: var(--white-color);
}

.menu__right button{
    background: none !important;
    padding: 0;
    margin: 0;
    border: 0;
}

.menu__right button img{
    border-radius: 50%;
}


/* =================================================================
End sidebar
================================================================= */



/* =================================================================
Start menu
================================================================= */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0.1rem 0.3rem rgba(18,38,63,.3);
    background: var(--white-color);
    padding: 20px 0;
}

.menu__right .dropdown-menu{
    transform: translate(0px, 59px) !important;
    margin: 0;
    padding: 1px 0;
    border: 1px solid var(--border-color);
}

.menu__right .dropdown-menu a{
    font-size: 15px;
    line-height: 20px;
    padding: 10px 20px;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.menu__right .dropdown-menu a:hover{
    background: var(--border-color);
    color: var(--header-color);
}

.menu__right .dropdown-menu a i{
    margin-right: 10px;
    font-size: 20px;
    color: var(--red-color);
}

.menu__right .dropdown-toggle::after{
    display: none;
}

/* =================================================================
End menu
================================================================= */




/* =================================================================
Start common__cart
================================================================= */

.common__cart{
    margin-bottom: 25px;
}

.common__cart h4{
    display: flex;
    align-items: center;
}

.common__cart h4 i{
    font-size: 25px;
    margin-right: 10px;
    color: var(--main-color);
}

.common__cart h3{
    font-size: 50px;
    line-height: 60px;
    color: var(--main-color);
    margin-top: 20px;
}



/* =================================================================
End common__cart
================================================================= */



/* =================================================================
Start client__list__page
================================================================= */
.client__list__header{
    text-align: right;
}

.client__list__header .custom__input{
    position: relative;
    width: 300px;
    margin: 0 auto;
    margin-right: 0;
}

.client__list__header .custom__input button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 45px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    color: var(--white-color);
}

.client__list__header .custom__input .flaticon-close{
    font-size: 16px;
}


/* =================================================================
End client__list__page
================================================================= */




/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */



/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */




/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */



/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */




/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */



/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */




/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */



/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */




/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */



/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */




/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */



/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */




/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */



/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */




/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */



/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */




/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */



/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */




/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */



/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */




/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */



/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */




/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */



/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */




/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */



/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */




/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */



/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */




/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */



/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */




/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */



/* =================================================================
Start 
================================================================= */




/* =================================================================
End 
================================================================= */
